# gitignore file
tmp/*
bin/TOS
bin/data/runs/*
bin/data/singleFrames/*
Makefile
HV_FADC_Object.pro
HV_FADC_Object.pro.user
#*#
tmp/*
*.*~
Backup/*
*.*~
*.pyc
scripts/PyS_eventDisplay/*.lprof
*.*#
TAGS
